*{
    padding:0;
    margin: 0;
}

.space img{
    height: 500px;
    width: auto;
    position: absolute;
    left: 25%;
    top: 30%;
    animation: fadeInFromTop .50s linear forwards, floating ease 7s infinite;
}

.space{
    background: center / contain no-repeat url("/img/back.jpg");
    height: 100vh;
    width: auto;
    overflow:hidden;
    background-image: url("img/back.jpg");
    background-repeat: no-repeat;
    position: relative;
}
/*.space{
    width: 1668px;
    height: 2388px;
    overflow:hidden;
    background-image: url("img/back.jpg");
    background-repeat: no-repeat;
    position: relative;
}
*/

@keyframes fadeInFromTop{
    from{
        opacity: 0;
        transform: translateY(-20px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes floating{
    0%{
        transform: translate(0%, 0%) rotate(360deg);
    }
    25%{
        transform: translate(5%, 15%) rotate(360deg);
    }
    0%{
        transform: translate(10%, 5%) rotate(360deg);
    }
    
    0%{
        transform: translate(0%, 15%) rotate(360deg);
    }
    0%{
        transform: translate(0%, 0%) rotate(360deg);
    }
}


